<h2><%=l(:label_post_new)%></h2>

<%= labelled_form_for :blog, @blog, :url => { :controller => 'blogs', :action => 'new', :project_id => @project },
                                    :html => { :id => 'blog-form', 
                                            :class => nil,
                                            :multipart => true } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% if Redmine::VERSION.to_s >= '2.1' %>
  <%= preview_link({ :controller => 'blogs', :action => 'preview', :project_id => @project }, 'blog-form') %>
<% else %>
  <%= link_to_remote l(:label_preview),
                     { :url => { :controller => 'blogs', :action => 'preview', :project_id => @project },
                       :method => 'post',
                       :update => 'preview',
                       :with => "Form.serialize('blog-form')"
                     }, :accesskey => accesskey(:preview) %>
<% end %>
<% if inline %>
|
<% if Redmine::VERSION.to_s >= '2.1' %>
 <%= link_to l(:button_cancel), "#", :onclick => '$("#add-blog").hide();' %>
<% else %>
 <%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-blog");' %>
<% end %>
<% end %>
<% end %>
<div id="preview" class="wiki"></div>
